
:root{
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

a{
    color: var(--Desaturated-Blue) ;
    text-decoration: none;
    font-size: 1.1em;
    
}

h1{
    color: var(--Very-Dark-Blu);
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    width: 160px;
    margin-top: 5px;
    border: 1px solid var(--Moderate-Cyan);
}

#icon-arrow{
    width:15px;
}

input[type="text"]{
    width: 300px;
    height: 40px;
    margin-right: 10px;
    border: 2.3px solid var(--Desaturated-Blue);
    border-radius: 3px;
}

input[type="button"]{
    width: 170px;
    padding: 14px;
    background-color: var(--Bright-Blue);
    color: var(--Light-Grayish-Blue);
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--Bright-Blue);
}

.ilu{
    width: 700px;
    height: 370px;
}

.header{
  display: flex;  
  justify-content: space-between;
  padding: 50px;
  
}


.header>ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    
}


.main{
    display: flex;
    gap: 10rem;
    margin: 50px;
}

.box1{
  width: 500px;
}

.main2{
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 35rem;
    padding: 100px;
    margin-top: 200px;
    
    
}

.sub-main2{
    display: flex;

    
}

.box2{
   max-width: 550px;
}

.box3{
    background-color: white;
    width: 284px;
    padding: 20px;
    box-shadow: 1px 1px 10px var(--Light-Gray) ;
}

#perfil{
    width: 35px;
    border-radius: 50%;
}

#name{
    font-size: 0.9em;
}

#drsc{
    font-size: 0.8em;
}

.two{
    display: flex;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
}

#h{
 color: var(--Moderate-Cyan);
 
}

.footer1{
    background-color: var(--Desaturated-Blue);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.box11{
    max-width: 450px;
    color: white;
}

.box11>h1{
    color: white;
}

.box22{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer2{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 30px;
    padding-top: 70px;
    padding-left:50px ;
    padding-right: 50px;
}

.p-footer2{
 margin-top: 15px;
}

@media (max-width:700px ){

    .ilu{
    width: 400px;
    height: 370px;
}

    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .box1{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    input[type="button"]{
    width: 315px;
    }

    .main2{
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 300px;
    
    
   }

   .sub-main2{
    flex-direction: column-reverse;
   }

   .box2>h1{
    text-align: center;
   }

   .footer1{
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

   .footer2{
    flex-direction: column;
   }


   
}


